@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700&display=swap");

/* 
   font-family: 'Bebas Neue', cursive;
   font-family: 'Roboto', sans-serif;
*/

img {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Bebas Neue", cursive;
  color: #363958;
  text-transform: uppercase;
}

h3 {
  color: #363958;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

h1 {
  font-size: 80px;
  line-height: 88px;
}

h1 span {
  color: #fabe4c;
}

p {
  color: #3e3e3e;
  font-size: 16px;
}

.border-radius {
  border-radius: 15px;
}

.btn-custom {
  background-color: #a4bc46;
  border-color: #a4bc46;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
}

.btn-custom:hover {
  background-color: #9eb92e;
  border-color: #9eb92e;
}

.btn-custom .btn-icon {
  font-size: 22px;
}

.navbar,
.header {
  background-color: #fffbf0;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #3c3c3c;
}

.logo {
  max-width: 291px;
  width: 75%;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active {
  color: #a4bc46;
}

.header-description {
  font-size: 20px;
}

.price-and-btn .price {
  font-size: 36px;
  color: #fabe4c;
  font-weight: 700;
}

.card-text {
  font-size: 14px;
}

.card-container {
  border-radius: 15px;
}
